var GtfsEditor = GtfsEditor || {};

(function(G, $) {

  G.config = {
  	mapboxKey: 'transitivity.map-iwzt89y7',
    agencyId: 1,
    mapCenter: [14.666217, 120.978355],
    mapZoom: 15, 
    showMajorStops: true,
    showStandardStops: true
  };

})(GtfsEditor, jQuery);
