#{extends 'Secure/layout.html' /}

<script src="https://cdn.auth0.com/js/lock-8.2.min.js"></script>
<script type="text/javascript">

  var lock = new Auth0Lock('dR7GdOhtI3HFNxfm4HySDL4Ke8uyGfTe', 'conveyal.eu.auth0.com');


  function signinDavid() {
    lock.show(
		function(err, profile, token) {
		  if(err) {
			console.log(err)
		  }
		  else {
			// save profile and token to localStorage
			localStorage.setItem('userToken', token);
			console.log(token)
			console.log(profile)

			//app.initBB(token);


			document.location = '/authenticate'
		  }
		}
	);
  }
function signin() {
    lock.show({
        callbackURL: 'http://localhost:9000/secure/login'
      , responseType: 'code'
      , authParams: {
        scope: 'openid profile'
      }
    });
  }
  window.onload = function(){
  	// if code exists from callback
  	if (window.location.search){
		$.ajaxSetup({
      beforeSend(jqXHR) {
        jqXHR.setRequestHeader('Authorization', 'Bearer ' + localStorage.getItem('userToken'));
        return true;
      }
    });
  	}
  	else{
  		signin();
  	}

  };
</script>

<div class="container fill">
  <div class="row" style="padding-top: 100px;">
    <div class="offset4 span4">


    		<div class="">

				<img style="padding-bottom: 25px;" src="@{'/public/images/tdm_logo.png'}"/>

				#{form @authenticate()}

					#{if flash.error}
						<p class="alert alert-error">
							&{flash.error}
						</p>
					#{/if}
					#{if flash.success}
						<p class="alert alert-info">
							&{flash.success}
						</p>
					#{/if}


				 <div class="control-group">
				    <label for="username">&{'secure.username'}</label>
				    <div class="controls">
				      <input type="text" name="username" id="username" value="${flash.username}" />
				    </div>
				  </div>


				  <div class="control-group">
				    <label for="password">&{'secure.password'}</label>
				    <div class="controls">
				      <input type="password" name="password" id="password" value="" />
				    </div>
				  </div>

				 <!--  <div class="control-group">

				    <div class="controls">
				     <input type="checkbox" name="remember" id="remember" value="true" ${flash.remember ? 'checked="true"' : ''} /> &{'secure.remember'}
				    </div>
				  </div> -->



					</p>
					<p id="signin-field">
						<button type="submit" class="btn" id="signin"/>&{'secure.signin'}</button>
					</p>
				#{/form}
			</div>



    </div>
  </div>
</div>
