#map {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 115px;
}

.row {
  position: relative;
  z-index: 999;
}

.content {
  display: none;
  position: absolute;
  right: 20px;
  bottom: 20px;
  top: 60px;
  width: 250px;
  z-index: 999;
  overflow: auto;

  background-color: #fff;
  padding: 10px;
  border-radius: 4px;
  box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.2),0 1px 10px rgba(0, 0, 0, 0.2);
  opacity: 0.85;
}