#route-header {
  text-align: center;
}

#route-nav {
  position: relative;
}

#route-nav:after {
  z-index: -1;
  background-color: #ddd;
  height: 2px;

  position: absolute;
  top: 8px;
  left: 18%;
  width: 64%;
  margin: 0;
}

#route-nav li {
  text-align: center;
  min-width: 15%;
  float: none;
  display: inline-block;
}

#route-nav li a {
  display: inline;
  background-color: #ddd;
  color: #777;
  text-decoration: none;
  text-shadow: 0 1px 0 white;

  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  border-radius: 15px;
}

#route-nav li.active a {
  background-color: #08C;
  color: #fff;
  text-shadow: none;
}

#route-nav li.active a:hover {
  background-color: #08C;
}

#route-nav li a:hover {
  background-color: #ccc;
}

#route-header .route-nav-label {
  padding: 1.0em 0.5em;
}


#route-nav li.disabled a {

  background-color: #efefef;
  color: #ccc;
  text-shadow: none;
}

#route-nav li.disabled a:hover {
  cursor: default;
  background-color: #efefef;
}

#route-header li.disabled .route-nav-label {
  color: #ccc;
}

#map {
  height:500px;
  margin-bottom: 20px;
}

.route-sidebar {
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 10px;
}

.route-context {
  position: relative;
}

.route-context .row-fluid {
  background-color: #ddd;
}

.route-summary-details strong {
  padding-right: 0.5em;
}

.route-summary-color {
  display: inline-block;
  height: 14px;
  width: 14px;
  border: 1px solid #444;
}

/* Portrait tablet to landscape anda above */
@media (min-width: 768px) {
  .route-context {
    padding-right: 20px;
  }

  .route-context:after {
    position: absolute;
    right:-10px;
    top: 0;
    display:block;
    content: " ";
    width: 0;
    height: 0;
    border-top: 30px solid transparent;
    border-bottom: 30px solid transparent;

    border-left: 30px solid #ddd;
  }

}

/* Landscape phones and down */
@media (max-width: 480px) {
  #route-nav:after {
    left: 10%;
    width: 80%;
  }

}

