/* This is a hack to give the illusion of merged cell headers when that is not actually possible with the
   current version of HandsOn Table. We allow the cell headers to overflow, but then set the width of the
   text inside to prevent it from overflowing past the next column. Cell width is hardwired here and in
   trip-pattern-schedule-view.js */
.handsontable th { overflow: visible }
.handsontable th > div { width: 140px; overflow: hidden; background-color: #eee }

/* Show colons in times */
.handsontable .minutes::before, .handsontable .seconds::before {
  content: ':'
}

/* align times right and display in monospace font */
.handsontable .time { text-align: right; font-family: mono; font-size: 10pt; letter-spacing: 0 }
.handsontable .time-arr { color: #050 }
.handsontable .time-dep { color: #005 }
.handsontable .time-dep-dimmed { color: #aaa }
.handsontable .trip-invalid { background-color: #fdd }
.handsontable .trip-deleted { text-decoration: line-through;
  /* 7pt + letter spacing of .30 em - 1em yields letters of approximately the same width as 10pt */
  font-style: italic; font-weight: lighter; color: #aaa; font-size: 7pt; letter-spacing: .30em }

.sr-only { position: absolute; left: -10000px; width: 1px; height: 1px }

/* block user input when in the minibuffer */
.minibuffer-bg { position: fixed; top: 0px; left: 0px; width: 100%; height: 100%; z-index: 999;
  background-color: #000; opacity: 0.4; filter: alpha(opacity=40) }
.minibuffer-content { position: fixed; bottom: 10px; left: 10px; z-index: 1000 }
