#{extends 'main.html' /}


<script>

function changePassword()
{
	if($('#newPasswordRetry').val() != $('#newPassword').val())	
		$('#passwordMatchError').show();
	else
		$('#passwordForm').submit();
}

</script>

 <div class="row-fluid"  style="margin-top: 20px;">
    <div class="span2">
      <!--Sidebar content-->
    </div>
    <div class="span10">
      <!--Body content-->
    
	
	<h3>Change Password</h3>
	<p>Enter current and new passwords.</p>	
		
	<form method="POST" action="@{Application.changePassword()}" id="passwordForm">
	
		<p id="password-field">
			<label for="currentPassword">Current Password</label>
			<input type="password" name="currentPassword" id="currentPassword" value="" />
			#{if badPassword}<span style="color: red;" class="help-block"><strong>Incorrect password</strong></span>#{/if}
		</p>
	
		<p id="password-field">
			<label for="newPassword">New Password</label>
			<input type="password" name="newPassword" id="newPassword" value="" />
		</p>
		
		<p id="password-retry-field">
			<label for="newPasswordRetry">New Password (again)</label>
			<input type="password" name="newPasswordRetry" id="newPasswordRetry" value="" />
			<span id="passwordMatchError" style="color: red; display: none;" class="help-block"><strong>Passwords don't match.</strong></span>
		</p>
		<p id="signin-field">
			<a class="btn" onclick="changePassword();">Change</a>	
		</p>
	</form>
	</div>
</div>

