#{extends 'main.html' /}
#{set title:'GTFS Editor' /}

#{set 'styles'}
  #{stylesheet 'main.css' /}
#{/set}

#{set 'scripts'}
  #{script 'models.js' /}
#{/set}


<div class="row-fluid">
  <div class="span9">
    <h2>Getting Started</h2>

    <h4>Welcome to Metro Manila's GTFS Editor.</h4>
    <p>The General Transit Feed Specification (GTFS) defines a common data format for public transportation routes. GTFS "feeds" allow public transit agencies to publish their transit data and developers to write applications that use that data in an standardized way. GTFS can be used to power trip planners, time table publishers, and a variety of applications.</p>

    <h4>How do I start?</h4>
    <p>Once you have some basic information about a route, click on <a href="/route/">New Route</a> above to get started.</p>

    <p>To view all current routes for your agency or find a route to edit, click on <a href="/map/">Explore Routes</a> above.</p>

    <h4>Workflow Overview</h4>
    This will explain how stuff works.

    <h4>Have a Question?</h4>
    <p>Click on Help icons on next to any step to view instructions or tips.</p>

    <p>Or select Contacts above to send a question or comment to an administrator. If you have any suggestions or issues please let us know!</p>

    <h2>Recent Edits</h2>

    <table class="table">
      <tr>
        <th>Time</th><th>Route</th><th>Summary</th><th>User</th>
      </tr>
      <tr>
        <td>Oct. 24, 2012, 4:40 pm</td>
        <td><a href="#">Alabang - Carmona</a></td>
        <td>Service Schedule</td>
        <td>rfrosario</td>
      </tr>
      <tr>
        <td>Oct. 24, 2012, 4:40 pm</td>
        <td><a href="#">Alabang - GMA via Carmona National Rd</a></td>
        <td>Trip Patterns</td>
        <td>fpereira</td>
      </tr>
      <tr>
        <td>Oct. 24, 2012, 4:40 pm</td>
        <td><a href="#">Baclaran-MIA/Batao</a></td>
        <td>Fixed typo</td>
        <td>fpereira</td>
      </tr>
      <tr>
        <td>Oct. 24, 2012, 4:40 pm</td>
        <td><a href="#">Alabang - Carmona</a></td>
        <td>Service Schedule</td>
        <td>rfrosario</td>
      </tr>
      <tr>
        <td>Oct. 24, 2012, 4:40 pm</td>
        <td><a href="#">Alabang - GMA via Carmona National Rd</a></td>
        <td>Trip Patterns</td>
        <td>fpereira</td>
      </tr>
      <tr>
        <td>Oct. 24, 2012, 4:40 pm</td>
        <td><a href="#">Baclaran-MIA/Batao</a></td>
        <td>Fixed typo</td>
        <td>fpereira</td>
      </tr>
      <tr>
        <td>Oct. 24, 2012, 4:40 pm</td>
        <td><a href="#">Alabang - Carmona</a></td>
        <td>Service Schedule</td>
        <td>rfrosario</td>
      </tr>
      <tr>
        <td>Oct. 24, 2012, 4:40 pm</td>
        <td><a href="#">Alabang - GMA via Carmona National Rd</a></td>
        <td>Trip Patterns</td>
        <td>fpereira</td>
      </tr>
      <tr>
        <td>Oct. 24, 2012, 4:40 pm</td>
        <td><a href="#">Baclaran-MIA/Batao</a></td>
        <td>Fixed typo</td>
        <td>fpereira</td>
      </tr>
    </table>

  </div>
  <div class="span3 well">
    <h2>My Agency</h2>
    Routes
    <ul>
      <li>Total: 136</li>
      <li>Completed: 112</li>
      <li>In Progress: 24 </li>
      <li>DOTC Reviewed: 62</li>
    </ul>

    <p>Average Trips per Route: 2.3</p>
    <p>Average Route Length: 23.3 km</p>
    <p>Average Route Duration: 3 h 23 m</p>
  </div>
</div>