#{extends 'main.html' /}
#{set title:'GTFS Editor | Home' /}

#{set 'styles'}
  #{stylesheet 'main.css' /}
#{/set}

#{set 'scripts'}
  #{script 'models.js' /}
#{/set}


<div class="row-fluid">
  <div class="span9">
    <h2>开始使用</h2>

    <h4>欢迎使用GTFS编辑器</h4>
    <p>GTFS（General Transit Feed Specification）是一种关于公共交通线路的常用数据格式。通过使用GTFS，公共交通运营单位与软件开发商能够以标准化的数据格式进行信息发布与信息使用。GTFS可以用来支持多种应用，包括乘车线路规划软件与时刻表发布软件等。　</p>

    <h4>如何开始？</h4>
    <p>只需具有线路的基本信息，即可点击屏幕上方的新建线路开始操作。</p>

    <p>请点击屏幕上方的搜索线路查看当前运营商的所有线路或编辑现有线路。</p>

    <h4>如有疑问？</h4>
    <p>在进行任意一步操作前，请点击帮助图标以查看操作指南。若有任何建议，欢迎向管理员反应问题或发送评论。</p>

  </div>
  
</div>
