#{extends 'main.html' /}
#{set title:'Map Demo' /}

#{set 'styles'}
  <link rel="stylesheet" href="/public/javascripts/leaflet-0.4.5/leaflet.css" />
  <link rel="stylesheet" href="/public/javascripts/leaflet.draw-0.1.4/leaflet.draw.css" />

  <!--[if lte IE 8]>
    <link rel="stylesheet" href="/public/javascripts/leaflet-0.4.5/leaflet.ie.css" />
    <link rel="stylesheet" href="/public/javascripts/leaflet.draw-0.1.4/leaflet.draw.ie.css" />
  <![endif]-->
  #{stylesheet 'main.css' /}
  #{stylesheet 'map.css' /}
#{/set}

#{set 'scripts'}
  #{script 'leaflet-0.4.5/leaflet.js' /}
  #{script 'leaflet.draw-0.1.4/leaflet.draw.js' /}
  #{script 'models.js' /}
  #{script 'views.js' /}
  #{script 'map.js' /}
#{/set}

    <script id="model-form-tpl" type="text/html">
    <form>
    {{#data}}
      <label for="{{key}}">{{key}}</label>
      <input type="text" id="{{key}}" value="{{val}}">
    {{/data}}

      <div>
        <button id="save-btn" class="btn btn-primary">Save</button>
        {{#can_delete}}
        <button id="delete-btn" class="btn btn-danger">Delete</button>
        {{/can_delete}}
      </div>
    </form>
    </script>

    <div class="content"></div>
    <div id="map"></div>