#{extends 'main.html' /}
#{set title:'Map Demo' /}

#{set 'styles'}
  <link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet-0.4.5/leaflet.css" />
  <!--[if lte IE 8]>
      <link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet-0.4.5/leaflet.ie.css" />
  <![endif]-->
  #{stylesheet 'main.css' /}
  #{stylesheet 'map.css' /}
#{/set}

#{set 'scripts'}
  <script src="http://cdn.leafletjs.com/leaflet-0.4.5/leaflet.js"></script>
  #{script 'models.js' /}
  #{script 'views.js' /}
  #{script 'map.js' /}
#{/set}

    <script id="model-form-tpl" type="text/html">
    <form>
    {{#data}}
      <label for="{{key}}">{{key}}</label>
      <input type="text" id="{{key}}" value="{{val}}">
    {{/data}}

      <div>
        <button id="save-btn" class="btn btn-primary">Save</button>
        {{#can_delete}}
        <button id="delete-btn" class="btn btn-danger">Delete</button>
        {{/can_delete}}
      </div>
    </form>
    </script>

    <div class="content"></div>
    <div id="map"></div>