#{extends 'main.html' /}

#{set 'title'}
    &{'application.name'} | &{'route.editRoute.title'}
#{/set}


#{set 'styles'}
  <!--[if lte IE 8]>
      <link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet-0.4.5/leaflet.ie.css" />
  <![endif]-->

  #{stylesheet 'leaflet/leaflet.css' /}
  #{stylesheet 'leaflet.draw/leaflet.draw.css' /}
  #{stylesheet 'route.css' /}
  
#{/set}



<!-- Mustache templates used in the js views. These should be i18n sometime. -->

<!-- The basic route info form -->
<script id="route-info-tpl" type="text/html">

<div id="route-type-modal" class="modal modal-wide hide" tabindex="-1" role="dialog" data-backdrop="static" aria-labelledby="route-type-modal-label" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3 id="route-type-modal-label">&{'route.trip-info-tpl.route-types.title'}</h3>	
  </div>
  <div id="route-type-modal-body" class="modal-body">
     <table class="table table">
      <tr><th>Localized Vehicle Type</th><th>GTFS Type</th><th>HVT Type</th><th>Description</th></tr>      
     
      #{list items:routeTypes, as:'routeType'}
          <tr><td>${routeType.localizedVehicleType}</td><td>${routeType.gtfsRouteType}</td><td>${routeType.hvtRouteType}</td><td>${routeType.description}</td></tr>
      #{/list}

    </table>
  </div>
  <div class="modal-footer">
    <button class="btn" data-dismiss="modal" aria-hidden="true">&{'shared.button.close'}</button>
  </div>
</div>


<form class="route-info-form form-horizontal span12">
  <input type="hidden" name="agency" id="agency" value="{{agency}}">

  <div class="control-group">
    <label class="control-label" for="routeShortName"><strong>&{'route.route-info-tpl.short-name'}</strong><br>(&{'shared.required'})</label>
    <div class="controls">
      <input required type="text" name="routeShortName" id="routeShortName" class="input-xxlarge" value="{{routeShortName}}" title="&{'route.route-info-tpl.short-name'}" data-content="&{'route.route-info-tpl.short-name-content'}">
    </div>
  </div>

  <div class="control-group">
    <label class="control-label" for="routeLongName"><strong>&{'route.route-info-tpl.long-name'}</strong><br>(&{'shared.required'})</label>
    <div class="controls">
      <input required type="text" name="routeLongName" id="routeLongName" class="input-xxlarge" value="{{routeLongName}}" title="&{'route.route-info-tpl.long-name'}" data-content="&{'route.route-info-tpl.long-name-content'}">
    </div>
  </div>

  <div class="control-group">
    <label class="control-label" for="routeType"><strong>&{'route.route-info-tpl.route-type'}</strong><br>(&{'shared.required'})</label>
    <div class="controls">
      <select required name="routeType" id="routeType" class="input-xlarge" title="&{'route.route-info-tpl.route-type'}" data-content="&{'route.route-info-tpl.route-type-content'}">
        
        #{list items:routeTypes, as:'routeType'}
            <option value="${routeType.id}">${routeType.localizedVehicleType} (${routeType.hvtRouteType})</option>
        #{/list}

      </select>
		<a href="#route-type-modal" role="button small" class="btn" data-toggle="modal">&{'route.trip-info-tpl.route-types.title'}</a>
    </div>
  </div>

  <div class="control-group">
    <label class="control-label" for="routeDesc">&{'route.route-info-tpl.description'}</label>
    <div class="controls">
      <textarea name="routeDesc" id="routeDesc" class="input-xlarge" title="&{'route.route-info-tpl.description-content'}" data-content="&{'route.route-info-tpl.description-content'}">{{routeDesc}}</textarea>
    </div>
  </div>

  <div class="control-group">
    <label class="control-label" for="routeUrl">&{'route.route-info-tpl.url'}</label>
    <div class="controls">
      <input type="text" name="routeUrl" id="routeUrl" class="input-xlarge" value="{{routeUrl}}" title="&{'route.route-info-tpl.url'}" data-content="&{'route.route-info-tpl.url-content'}">
    </div>
  </div>

  <div class="control-group">
    <label class="control-label" for="routeColor">&{'route.route-info-tpl.route-color'}</label>
    <div class="controls">
      <input type="text" name="routeColor" id="routeColor" class="input-small" value="{{routeColor}}" title="&{'route.route-info-tpl.route-color'}" data-content="&{'route.route-info-tpl.route-color-content'}">
    </div>
  </div>

  <div class="control-group">
    <label class="control-label" for="routeTextColor">&{'route.route-info-tpl.route-text-color'}</label>
    <div class="controls">
      <input type="text" name="routeTextColor" id="routeTextColor" class="input-small" value="{{routeTextColor}}" title="&{'route.route-info-tpl.route-text-color'}" data-content="&{'route.route-info-tpl.route-text-color-content'}">
    </div>
  </div>

<!--  <div class="control-group">
    <label class="control-label" for="airCon">&{'route.route-info-tpl.air-con-label'}</label>
    <div class="controls">
      <label class="checkbox" for="airCon">
        <input name="airCon" id="airCon" type="checkbox" value="true" {{#airCon}}checked{{/airCon}}> &{'route.route-info-tpl.air-con-checkbox'}
      </label>
    </div>
  </div> -->

  <div class="control-group">
    <label class="control-label" for="comments">&{'route.route-info-tpl.comments'}</label>
    <div class="controls">
      <textarea name="comments" id="comments" class="input-xlarge" title="&{'route.route-info-tpl.comments'}" data-content="&{'route.route-info-tpl.comments-content'}">{{comments}}</textarea>
    </div>
  </div>

  <div class="form-actions">
    <button type="submit" class="btn btn-primary" id="route-save-btn">&{'shared.button.save-continue'}</button>
  </div>
</form>
</script>



<script id="route-info-tpl-route-type-options-tpl" type="text/html">
  
  <option value=""></option>

  {{#option}}
    <option value="{{id}}">{{localizedVehicleType}} ({{gtfsRouteType}})</option>
  {{/option}}    

</script>


<!-- The basic route info form -->
<script id="trip-info-tpl" type="text/html">

<form class="trip-info-form form-horizontal span12">
  <input type="hidden" name="agency" id="agency" value="{{agency}}">

  <div class="control-group">
    <label class="control-label" for="startTime"><strong>&{'route.trip-info-tpl.start-time'}</strong><br>(required)</label>
    <div class="controls">
      <input required type="text" name="startTime" id="startTime" class="input" value="{{startTime}}" placeholder="hh:mm" title="&{'route.trip-info-tpl.start-time'}" data-content="&{'route.trip-info-tpl.start-time-content'}">
    </div>
  </div>

  <div class="control-group">
    <label class="control-label" for="endTime"><strong>&{'route.trip-info-tpl.end-time'}</strong><br>(required)</label>
    <div class="controls">
      <input required type="text" name="endTime" id="endTime" class="input" value="{{endTime}}" placeholder="hh:mm" title="&{'route.trip-info-tpl.end-time'}" data-content="&{'route.trip-info-tpl.end-time-content'}">
    </div>
  </div>

  <div class="control-group">
    <label class="control-label" for="serviceFrequency"><strong>&{'route.trip-info-tpl.service-frequency'}</strong><br>(required)</label>
    <div class="controls">
      <input required type="text" name="serviceFrequency" id="serviceFrequency" class="input" value="{{endTime}}" placeholder="hh:mm:ss" title="&{'route.trip-info-tpl.service-frequency'}" data-content="&{'route.trip-info-tpl.service-frequency-content'}">
    </div>
  </div>

  <div class="control-group">
    <label class="control-label" for="days"><strong>&{'route.trip-info-tpl.days-in-service'}</strong>:</label>
    <div class="controls">
      <label class="checkbox" for="Monday">
        <input name="Monday" id="Monday" type="checkbox" value="true" {{#monday}}checked{{/monday}}> &{'shared.monday'}
      </label>
      <label class="checkbox" for="Tuesday">
        <input name="Tuesday" id="Tuesday" type="checkbox" value="true" {{#tuesday}}checked{{/tuesday}}> &{'shared.tuesday'} 
      </label>
      <label class="checkbox" for="Wednesday">
        <input name="Wednesday" id="Wednesday" type="checkbox" value="true" {{#wednesday}}checked{{/wednesday}}> &{'shared.wednesday'} 
      </label>
      <label class="checkbox" for="Thursday">
        <input name="Thursday" id="Thursday" type="checkbox" value="true" {{#thursday}}checked{{/thursday}}> &{'shared.thursday'} 
      </label>
      <label class="checkbox" for="Friday">
        <input name="Friday" id="Friday" type="checkbox" value="true" {{#friday}}checked{{/friday}}> &{'shared.friday'} 
      </label>
      <label class="checkbox" for="Saturday">
        <input name="Saturday" id="Saturday" type="checkbox" value="true" {{#saturday}}checked{{/saturday}}> &{'shared.saturday'} 
      </label>
      <label class="checkbox" for="Sunday">
        <input name="Sunday" id="Sunday" type="checkbox" value="true" {{#sunday}}checked{{/sunday}}> &{'shared.sunday'} 
      </label>
    </div>
  </div>


  <div class="form-actions">
    <button type="submit" class="btn btn-primary" id="route-save-btn">&{'shared.button.save-continue'}</button>
  </div>
</form>
</script>


<!-- The map template, used in the Stops and Trip Patterns steps -->
<script id="map-tpl" type="text/html">
  <div class="row-fluid">
    <div class="span6 route-context"></div>
    <div class="span6 step-instructions">Step instructions</div>
  </div>
  <div class="row-fluid">
    <div id="map" class="span9"></div>
    <div class="span3 route-sidebar">
    </div>
  </div>
</script>

<!-- The Stop instructions, not styled -->
<script id="stop-instructions-tpl" type="text/html">
  <div>&{'route.stop-instructions-tpl'}</div>
</script>

<!-- The Stop sidebar contents ie. stop marker toggles -->
<script id="stops-sidebar-tpl" type="text/html">

    <div class="stop-filter-details well">
      <legend>Filter Stops</legend>
      <label class="radio">
        <input type="radio" name="stopFilterRadio" id="optionsRadios1" value="filtered" checked>Show only stops for {{route.agency.name}}
      </label>
      <label class="radio">
        <input type="radio" name="stopFilterRadio" id="optionsRadios2" value="all">Show all stops
      </label>
      <p class="text-warning" id="stops-hidden-message">Some stops may be hidden at current zoom level.</p>
    </div>

    <div class="stop-import-details well">
      <legend>Import Stops</legend>
       
        <button type="button" class="btn disabled stop-delete-btn">Upload Stop Data</button>
    </div>

  </script>

<!-- The route summary -->
<script id="route-summary-container-tpl" type="text/html">
  <div class="row-fluid">
    <div class="offset1 span11">&{'route.route-info-tpl.agency'}: <strong>{{ agency.name }}</strong></div>
  </div>
  <div class="row-fluid">
    <div class="offset1 span5">&{'route.route-info-tpl.short-name'}: <strong>{{ routeShortName }}</strong></div>
    <div class="span6">&{'route.route-info-tpl.long-name'}: <strong>{{ routeLongName }}</strong></div>
  </div>
  <div class="row-fluid">
    <div class="offset1 span5">Type: <strong>{{ routeType.localizedVehicleType }}</strong></div>
    <div class="span6"><a class="route-summary-link" href="javascript:void(0);"
        title="{{ routeLongName }} ({{ routeShortName }})">&{'shared.details'}
      </a>
    </div>
  </div>
</script>

<!-- The route summary details ie. the popup that appears when you hover over
  the details link. -->
<script id="route-summary-tpl" type="text/html">
  <div class="route-summary-details">
    <div class="row-fluid"><strong>&{'route.route-info-tpl.description'}:</strong> {{ routeDesc }}</div>
    <div class="row-fluid"><strong>&{'route.route-info-tpl.route-color'}:</strong>
      <div class="route-summary-color"></div>
    </div>
  </div>
</script>

<!-- The stop details form that appears in the map popup. -->
<script id="stop-form-tpl" type="text/html">
  <form class="stop-details-form">
    <legend>Stop Details</legend>
    <label><strong>Agency</strong>: {{agency.name}}</<label>
    <input type="hidden" name="id" value="{{id}}">
    <input name="stopName" class="input-xlarge" type="text" placeholder="Name" value="{{stopName}}">
    <textarea name="stopDesc" class="input-xlarge" placeholder="Description">{{stopDesc}}</textarea>
    <label class="checkbox">
      <input type="checkbox" name="majorStop"{{#majorStop}} checked="checked"{{/majorStop}}> Major Stop?
    </label>
    <button type="submit" class="btn btn-primary stop-save-btn">&{'shared.button.save'}</button>
    <button type="button" class="btn btn-danger stop-delete-btn">&{'shared.button.delete'}</button>
  </form>
</script>

<!-- The trippattern stop patterns details form that appears in the map popup. -->
<script id="trippattern-stop-form-tpl" type="text/html">
  <form class="trippattern-stop-details-form">
    <legend>Add Stop to Trip Pattern</legend>
    <input type="hidden" name="id" value="{{id}}">
    <p>
      <label><strong>Agency</strong>: {{agency.name}}</label>
      <label><strong>Stop Name</strong>: {{stopName}}</label>
    </p>
    <p>
      <input name="travelTime" class="input" type="text" placeholder="Travel Time (mm:ss)" value="{{travelTime}}">
      <input name="dwellTime" class="input" type="text" placeholder="Dwell Time (mm:ss)" value="{{dwellTime}}">
    </p>
    <p>
      <button type="submit" class="btn btn-primary trippattern-stop-add-btn">Add</button>
      <button type="button" class="btn stop-cancel-btn">Cancel</button>
    </p>
  </form>
</script>


<!-- The trippattern stop patterns details form that appears in the map popup. -->
<script id="trippattern-create-tpl" type="text/html">
  <form class="trippattern-create-form">
    <input type="hidden" name="id" value="{{id}}">
    <input name="name" class="input" type="text" placeholder="Trip Pattern Name" value="{{name}}">
    <br/>
    <button type="submit" class="btn btn-primary trippattern-create-confirm-btn">Add</button>
    <button type="button" class="btn trippattern-create-cancel-btn">Cancel</button>
  </form>
</script>

<script id="trippattern-stop-list-tpl" type="text/html">
  <ol>
    {{#stops}}  
      <li>{{#stop.stopName}}{{stop.stopName}}{{/stop.stopName}}{{^stop.stopName}}Unnamed Stop{{/stop.stopName}}</li>
      <hr/>
    {{/stops}}
  </ol>
</script>


<!-- The sidebar contents for the Trip Patterns step (in progress) -->
<script id="trippatterns-sidebar-tpl" type="text/html">
  <div>

    <div class="stop-filter-details well">
      <legend>Filter Stops</legend>
      <label class="radio">
        <input type="radio" name="stopFilterRadio" id="optionsRadios1" value="filtered" checked>Show only stops for {{route.agency.name}}
      </label>
      <label class="radio">
        <input type="radio" name="stopFilterRadio" id="optionsRadios2" value="all">Show all stops
      </label>
      <p class="text-warning" id="stops-hidden-message">Some stops may be hidden at current zoom level.</p>
    </div>

    <div class="trippattern-details well">
    <legend>Trip Patterns</legend>
      <p>
        <select id="selectedTripPattern">

          <option value="">-- select pattern --</option>
          
            {{#items}}<option value="{{id}}">{{name}}</option>{{/items}}
        </select>
      </p>
      <p>
        <button type="submit" class="btn btn-primary trippattern-create-btn">Create New Pattern</button>
      </p>
      <p>
        <button type="button" class="btn btn-primary transitwand-impot-btn">Create from TransitWand</button>
      </p>
      <div id="trippattern-create"></div>      
    </div>

    <!-- <div class="trippattern-details well" data-toggle="collapse">
     <form class="trippattern-details-form" class="collapse">
        <legend>Details</legend>
        <input type="hidden" name="id" value="{{id}}">
        <input name="stopName" class="input-xlarge" type="text" placeholder="Name" value="{{stopName}}">
        <textarea name="stopDesc" class="input-xlarge" placeholder="Description">{{stopDesc}}</textarea>
        <div class="clearfix"></div>
        <button type="submit" class="btn btn-primary trippattern-save-btn">Save</button>
        <button type="button" class="btn btn-danger trippattern-delete-btn">Delete</button>
      </form>
    </div> -->
    <ul class="nav nav-tabs" id="trippatterns-sidebar-tabs">
      <li class="active"><a href="#trippattern-sequence" data-toggle="tab">Sequence</a></li>
      <li><a href="#trippattern-line" data-toggle="tab">Line</a></li>
    </ul>

    <div class="tab-content">
      <div class="tab-pane active" id="trippattern-sequence"><div id="trippattern-sequence-message" class="well">Add stops to pattern sequence.</div><div id="trippattern-sequence-list" class="well"></div></div>
      <div class="tab-pane" id="trippattern-line"><div id="trippattern-sequence-message" class="well"><button type="button" class="btn btn-primary trippattern-create-line-btn">Create Line</button></div></div>
    </div>
  </div>
</script>

<!-- Step instructions for Trip Patterns step -->
<script id="trippatterns-instructions-tpl" type="text/html">
  <div>&{'route.trip-pattern-instructions'}</div>
</script>

<!-- Route page markup -->
<div class="row-fluid" id="route-header">
  <div class="span12">
    <!-- <h3>&{'route.steps-header'}</h3> -->

    <ul id="route-nav" class="nav nav-pills">
      <li>
        <a class="route-link" data-route-step="info" href="/route/info">1</a>
        <label class="route-nav-label">&{'route.step1'}</label>
      </li>
      <li class="disabled">
        <a class="route-link" data-route-step="stops" href="/route/stops">2</a>
        <label class="route-nav-label">&{'route.step2'}</label>
      </li>
      <li class="disabled">
        <a class="route-link" data-route-step="trippatterns" href="/route/trippatterns">3</a>
        <label class="route-nav-label">&{'route.step3'}</label>
      </li>
      <li class="disabled">
        <a class="route-link" data-route-step="trips" href="/route/trips">4</a>
        <label class="route-nav-label">&{'route.step4'}</label>
      </li>
      <li class="disabled">
        <a class="route-link" data-route-step="review" href="/route/review">5</a>
        <label class="route-nav-label">&{'route.step5'}</label>
      </li>
    </ul>
  </div>
</div>

<div class="row-fluid" id="route-step-content"></div>




#{set 'scripts'}
  <script src="http://cdnjs.cloudflare.com/ajax/libs/datatables/1.9.4/jquery.dataTables.min.js"></script>
  <script src="@{'/public/lib/jquery.serializeObject.min.js'}"></script>
  
  #{script 'lib/leaflet.js' /}
  #{script 'lib/leaflet.draw.js' /}

  #{script 'models.js' /}
  #{script 'views/route-summary-view.js' /}
  #{script 'views/route-info-view.js' /}
  #{script 'views/trip-info-view.js' /}
  #{script 'views/route-stops-view.js' /}
  #{script 'views/route-trippatterns-view.js' /}
  #{script 'pages/route.js' /}

  <script type="text/javascript">
    $(function(){
      // TODO: the config be need to be dynamic based on the user details.
      // ie. agency, etc
      GtfsEditor.RoutePage.init(${session.agencyId});
    });
  </script>
#{/set}
