#{extends 'main.html' /}
#{set title:'Model Scaffolding' /}

#{set 'styles'}
  #{stylesheet 'main.css' /}
  #{stylesheet 'scaffolding.css' /}
#{/set}

#{set 'scripts'}
  <script src="http://cdnjs.cloudflare.com/ajax/libs/datatables/1.9.4/jquery.dataTables.min.js"></script>
  #{script 'models.js' /}
  #{script 'views/table-view.js' /}
  #{script 'views/form-view.js' /}
  #{script 'backbone-scaffolding.js' /}
#{/set}

    <script id="model-form-tpl" type="text/html">
    <h1>{{title}}</h1>
    <a class="content-header-link" href="{{new_link}}">Add a new one</a>
    <form class="form-horizontal">

      {{#data}}
      <div class="control-group">
        <label class="control-label" for="{{key}}">{{key}}</label>
        <div class="controls">
          <input type="text" id="{{key}}" value="{{val}}">
        </div>
      </div>
      {{/data}}

      <div class="control-group">
        <div class="controls">
          <button id="save-btn" class="btn btn-primary">Save</button>
          {{#can_delete}}
          <button id="delete-btn" class="btn btn-danger">Delete</button>
          {{/can_delete}}
        </div>
      </div>
    </form>
    </script>

    <script id="collection-table-tpl" type="text/html">
    <h1>{{title}}</h1>
    <a class="content-header-link" href="{{new_link}}">Add a new one</a>

    <table id="collection-table" class="table table-bordered table-hover"></table>
    </script>

    <div class="row">
      <div class="span2">
        <ul id="nav-list" class="nav nav-tabs nav-stacked"></ul>
      </div>
      <div id="content" class="span10"></div>
    </div>