#{extends 'main.html' /}
#{set title:'GTFS Editor | Search' /}

#{set 'styles'}
  <link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet-0.4.5/leaflet.css" />
  <!--[if lte IE 8]>
      <link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet-0.4.5/leaflet.ie.css" />
  <![endif]-->
  #{stylesheet 'main.css' /}
#{/set}

#{set 'scripts'}
  <script src="http://cdn.leafletjs.com/leaflet-0.4.5/leaflet.js"></script>
#{/set}

<h3>Routes for ${session.agencyName} </h3>
<table class="table table">
	<tr><th>GTFS Id</th><th>Short Name</th><th>Long Name</th><th>Route Type</th><th>Description</th><th></th></tr>

	#{list items:routes, as:'route'}
	    <tr><td><a href="/route/${route.id}/info">${route.gtfsRouteId}</a></td><td>${route.routeShortName}</td><td>${route.routeLongName}</td><td>${route.routeType.localizedVehicleType}</td><td>${route.routeDesc}</td><td><a href="/route/${route.id}/info"><i class="icon-pencil"></i></a></td></tr>
	#{/list}

</table>