#{extends 'main.html' /}
#{set title:'GTFS Editor | Search' /}

#{set 'styles'}
  #{stylesheet 'main.css' /}
  #{stylesheet 'search.css' /}
#{/set}

<script id="route-table-tpl" type="text/html">
  {{#routes}}
<tr class="route">
  <td><a href="#" class="route-edit" data-id="{{id}}">{{gtfsRouteId}}</a></td>
  <td>{{#publiclyVisible}}<i class="icon-check"></i>{{/publiclyVisible}}</td>
  <td>{{status}}</td>
  <td>{{routeShortName}}</td>
  <td>{{routeLongName}}</td>
  <td>{{routeType.localizedVehicleType}}</td>
  <td>{{routeDesc}}</td>
  <td>
    <span class="active-days">
      <span class="{{#monday}}active-day{{/monday}}">&{'shared.monday.short'}</span>
      <span class="{{#tuesday}}active-day{{/tuesday}}">&{'shared.tuesday.short'}</span>
      <span class="{{#wednesday}}active-day{{/wednesday}}">&{'shared.wednesday.short'}</span>
      <span class="{{#thursday}}active-day{{/thursday}}">&{'shared.thursday.short'}</span>
      <span class="{{#friday}}active-day{{/friday}}">&{'shared.friday.short'}</span>
      <span class="{{#saturday}}active-day{{/saturday}}">&{'shared.saturday.short'}</span>
      <span class="{{#sunday}}active-day{{/sunday}}">&{'shared.sunday.short'}</span>
    </span>
  </td>

  <td><a href="#" data-id="{{id}}" class="route-edit"><i class="icon-pencil"></i></a>&nbsp;&nbsp;<a href="#" data-id="{{id}}"
    class="route-delete"><i class="icon-trash"></i></a>
</tr>

  {{/routes}}
</script>


<h3>&{'search.title'} ${session.agencyName} </h3>

<table id="route-list-content" class="table table">
    <tr><th>&{'route.route-info-tpl.gtfs-id'}</th><th>&{'route.review-publicly-visible'}</th><th>&{'route.review-status'}</th><th>&{'route.route-info-tpl.short-name'}</th><th>&{'route.route-info-tpl.long-name'}</th><th>&{'route.route-info-tpl.route-type'}</th><th>&{'route.route-info-tpl.description'}</th><th>&{'search.active-days'}<th></th></tr>

</table>

#{set 'scripts'}

  #{script 'models.js' /}
  #{script 'views/route-list-view.js' /}

  <script type="text/javascript">

    $(function(){

         var routeListView = new GtfsEditor.RouteListView({el: '#route-list-content'});
      });



  </script>

#{/set}
