#{extends 'main.html' /} #{set 'title'} &{'application.name'} | &{'route.edit-route.title'} #{/set} #{set 'styles'} #{stylesheet
'handsontable/jquery.handsontable.full.min.css' /} #{stylesheet 'timetable.css' /} #{/set} #{set 'scripts'} #{script 'lib/jquery.handsontable.full.js'
/} #{script 'models.js' /} #{script 'views/trip-pattern-schedule-view.js' /} #{script 'pages/trip-pattern-schedule-page.js'
/} #{/set}

<div id="timetable-container"></div>

<script id="timetable-tpl" type="text/html">
  <div class="modal hide fade" id="shortcut-modal">
    <div class="modal-dialog">
      <div class="modal-header">
        <h3>&{'timetable.shortcuts'}</h3>
      </div>
      <div class="modal-body">
        {{!-- TODO: i18n --}}
        <dl class="dl-horizontal">
          <dt><code>o</code></dt>
          <dd>Offset selected times</dd>
          <dt><code>i</code></dt>
          <dd>Insert new trips based on selected</dd>
          <dt><code>Shift-Del</code> or <code>Shift-Backspace</code></dt>
          <dd>Delete selected trips</dd>
        </dl>
      </div>
      <div class="modal-footer">
        <button data-dismiss="modal" class="btn btn-primary">&{'timetable.ok'}</button>
      </div>
    </div>
  </div>

  <p>
    <div class="btn-group">
      <a role="button" class="btn btn-default" href="/route/{{ routeId }}/trips">
        <i class="icon-chevron-left"></i> &{'timetable.back-to-route'}
      </a>
      <button role="button" class="btn btn-default save">
        <i class="icon-file"></i>&nbsp;&nbsp;&{'timetable.save-changes'}
      </button>
      <button role="button" class="btn btn-default new-trip">
        <i class="icon-plus-sign"></i>&nbsp;&nbsp;&{'timetable.new-trip'}
      </button>
      <button role="button" class="btn btn-default sort-trips">
        <i class="icon-arrow-down"></i>&nbsp;&nbsp;&{'timetable.sort'}
      <button role="button" class="btn btn-default" data-toggle="modal" data-target="#shortcut-modal">
        &{'timetable.help'}
      </button>
    </div>
  </p>
  <div id="timetable"></div>

  <div class="form-inline copy-trips-controls hidden">
    <label for="copy-from">&{'timetable.copy-from-calendar'}</label>
    <select class="calendars" id="copy-from" class="form-control"></select>
    <button role="button" class="btn btn-default copy-timetable">&{'timetable.copy'}</button>
  </div>

  <!-- the minibuffer, used for prompting for user input -->
  <div class="minibuffer hidden">
    <div class="minibuffer-bg"></div>
    <div class="input-prepend minibuffer-content">
      <span class="add-on prompt"></span>
      <label class="prompt sr-only" for="minibuffer-input"></label>
      <input type="text" id="minibuffer-input" />
    </div>
  </div>
</script>

<script id="calendar-select-tpl" type="text/html">
  {{#calendars}}
    <option value="{{id}}">{{ description }} ({{ routeTrips }} &{'shared.trips'})</option>
  {{/calendars}}
</script>
