#{extends 'main.html' /}

#{set 'title'}
    &{'application.name'} | &{'route.edit-route.title'}
#{/set}

#{set 'styles'}
  #{stylesheet 'handsontable/jquery.handsontable.full.min.css' /}
  #{stylesheet 'timetable.css' /}
#{/set}

#{set 'scripts'}
  #{script 'lib/jquery.handsontable.full.js' /}
  #{script 'models.js' /}
  #{script 'views/trip-pattern-schedule-view.js' /}
  #{script 'pages/trip-pattern-schedule-page.js' /}
#{/set}

<div id="timetable-container"></div>

<script id="timetable-tpl" type="text/html">
  <p>
    <div class="btn-group">
      <button role="button" class="btn btn-default save"> &{'timetable.save-changes'}</button>
      <button role="button" class="btn btn-default new-trip"> &{'timetable.new-trip'}</button>
    </div>
  </p>
  <div id="timetable"></div>
</script>
