%{
cf = play.Play.configuration
}%

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>#{get 'title' /}</title>
    <meta charset="${_response_encoding}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

  	<style>

  		body .modal-wide {
  		    /* new custom width */
  		    max-width:1000px;
  		   	width: 90%; /* desired relative width */
    			left: 5%; /* (100%-width)/2 */
    			margin: auto auto auto auto;
  		}

  	</style>

    <link rel="stylesheet" media="screen" href="@{'/public/lib/bootstrap-2.3.1/css/bootstrap.css'}">
    <link rel="stylesheet" media="screen" href="@{'/public/lib/pnotify-1.2.0/jquery.pnotify.default.css'}">


    #{get 'styles' /}
    <!--   <link rel="stylesheet" media="screen" href="@{'/public/lib/bootstrap-2.1.1/css/bootstrap-responsive.min.css'}">-->

    <!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <link rel="shortcut icon" type="image/png" href="@{'/public/images/favicon.png'}">

  </head>
  <body>
    <div class="navbar navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container-fluid">
          <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </a>

          <a class="brand" href="@{Application.index}">&{'application.name'}</a>
          <div class="nav-collapse collapse">

            <ul class="nav">
              <li class="active"><a href="@{Application.index}">&{'nav-bar.home'}</a></li>
<!--              <li><a href="#agency">&{'nav-bar.agency'}</a></li>
              <li><a href="#contact">&{'nav-bar.contact'}</a></li> -->

              <li class="dropdown">
                <a href="#" role="button" class="dropdown-toggle" data-toggle="dropdown"><i class="icon-wrench"></i> ${session.agencyName} <b class="caret"></b></a>
                <ul class="dropdown-menu" role="menu">
                  #{list items:agencies, as:'agency' }
                    <li><a href="#" class="agency-select" data-agency="${agency.id}"> ${agency.name}</a></li>
                  #{/list}
                </ul>
              </li>

              <li class="dropdown">
                <a href="#" role="button" class="dropdown-toggle" data-toggle="dropdown">&{'nav-bar.export'}<b class="caret"></b></a>
                <ul class="dropdown-menu" role="menu">
                  <li><a href="@{Application.exportGtfs}" class="manage-route-types">&{'export.gtfs.title'}</a></li>
                  <li><a href="@{Application.exportGis}" class="manage-route-types">&{'export.gis.title'}</a></li>
                  <!-- <li><a href="#export" class="manage-route-types">&{'export.kml.title'}</a></li> -->
                  <!-- <li><a href="@{Application.manageStopTypes}" class="manage-stop-types">&{'manage.stop-types.title'}</a></li>  -->
                  <!-- <li><a href="@{Application.manageRouteTypes}" class="manage-users" data-lang="en">Manage Users</a></li> -->
                  <!-- <li><a href="@{Application.exportGis}" class="manage-agenices">&{'export.shapefile-stops.title'}</a></li>  -->
                  <!-- <li><a href="@{Application.exportGis}" class="manage-agenices">&{'export.shapefile-routes.title'}</a></li>  -->

                </ul>
              </li>

              #{secure.check 'admin'}
                <li class="dropdown">
                  <a href="#" role="button" class="dropdown-toggle" data-toggle="dropdown">&{'nav-bar.admin'}<b class="caret"></b></a>
                  <ul class="dropdown-menu" role="menu">
                    <li><a href="@{Application.manageRouteTypes}" class="manage-route-types">&{'manage.route-types.title'}</a></li>
                    <!-- <li><a href="@{Application.manageStopTypes}" class="manage-stop-types">&{'manage.stop-types.title'}</a></li>  -->
                    <!-- <li><a href="@{Application.manageRouteTypes}" class="manage-users" data-lang="en">Manage Users</a></li> -->
                    <li><a href="@{Application.manageAgencies}" class="manage-agenices">&{'manage.agencies.title'}</a></li>
                    <li><a href="@{Admin.accounts}" class="manage-accounts">&{'manage.accounts.title'}</a></li>
                    <li><a href="@{Application.importGtfs}" class="import-gtfs">&{'manage.import-gtfs.title'}</a></li>
                  </ul>
                </li>
              #{/secure.check}

            </ul>

			     <ul class="nav pull-right">
              <li class="dropdown">
                <a href="#" role="button" class="dropdown-toggle" data-toggle="dropdown">
                  <i class="icon-globe"></i><b class="caret"></b>
                </a>
                <ul class="dropdown-menu" role="menu">
                  <li><a href="#" class="lang-select" data-lang="cn">中国的</a></li>
                  <li><a href="#" class="lang-select" data-lang="en">English</a></li>
                  <li><a href="#" class="lang-select" data-lang="es">Español</a></li>
                </ul>
              </li>
            </ul>

            <ul class="nav pull-right">
              <li class="dropdown">
                <a href="#" role="button" class="dropdown-toggle" data-toggle="dropdown">
                  <i class="icon-user"></i>&{'nav-bar.user-greeting', user}<b class="caret"></b>
                </a>
                <ul class="dropdown-menu" role="menu">
                  <li><a href="@{Application.changePassword}">Change Password</a></li>
                  <li><a href="@{Secure.logout}">&{'nav-bar.logout'}</a></li>
                </ul>
              </li>
            </ul>

          </div><!--/.nav-collapse -->
        </div>
      </div>
    </div>

    <div class="container-fluid">
      <ul class="nav nav-pills" id="tools-nav">
        <!--<li><a href="/"><i class="icon-list-alt"></i> News &amp; Updates</a></li>-->
        <li><a href="@{Application.search()}"><i class="icon-map-marker"></i> &{'shared.explore-search-routes'}</a></li>
        <li><a href="@{Application.route()}"><i class="icon-pencil"></i> &{'shared.new-route'}</a></li>
      </ul>

      #{doLayout /}
    </div>

    <script src="@{'/public/javascripts/lib/jquery.min.js'}"></script> <!-- http://cdnjs.cloudflare.com/ajax/libs/jquery/1.8.2/jquery.min.js -->
    <script src="@{'/public/javascripts/lib/underscore-min.js'}"></script> <!--http://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.4.2/underscore-min.js -->
    <script src="@{'/public/javascripts/lib/backbone-min.js'}"></script> <!-- http://cdnjs.cloudflare.com/ajax/libs/backbone.js/1.0.0/backbone-min.js -->
    <script src="@{'/public/javascripts/lib/ICanHaz.min.js'}"></script> <!--http://cdnjs.cloudflare.com/ajax/libs/ICanHaz.js/0.10/ICanHaz.min.js -->
    <script src="@{'/public/lib/bootstrap-2.3.1/js/bootstrap.js'}"></script>
    <script src="@{'/public/lib/pnotify-1.2.0/jquery.pnotify.min.js'}"></script>

    #{script 'config.js' /}
    #{script 'utils.js' /}
    #{get 'scripts' /}

    <script type="text/javascript" language="javascript" >

        var GtfsEditor = GtfsEditor || {};

        (function(G, $) {

          G.session = {

            agencyId: ${session.agencyId},
            mapCenter: [${session.lat}, ${session.lon}],
            mapZoom: ${session.zoom},
            tripPattern: null,
            trip: null
          };

          G.strings = {
            stopsDeleteStopConfirm: "&{'route.stops-delete-stop-confirm'}",
            tripPatternClearPatternConfirm: "&{'route.trip-pattern-clear-pattern-confirm'}",
            tripPatternDeletePatternConfirm: "&{'route.trip-pattern-delete-pattern-confirm'}",
            tripPatternPatternCreateFailed: "&{'route.trip-pattern-create-failed'}",
            tripPatternPatternCreateFailedNoName: "&{'route.trip-pattern-create-failed-no-name'}",
            tripPatternAddStopFailed: "&{'route.trip-pattern-add-stop-failed'}",
            tripPatternAddStopFailedNoName: "&{'route.trip-pattern-add-stop-failed-no-pattern'}",
            tripPatternNoTWData: "&{'route.trip-pattern-no-tw-data'}",
            tripPatternTWUnknownId: "&{'route.trip-pattern-tw-unknown-id'}",
            tripPatternTWUnableLoad: "&{'route.trip-pattern-tw-unable-load'}",
            tripPatternReverseconfirm: "&{'route.trip-pattern-reverse-pattern-confirm'}",
            tripInfoDeleteTripconfirm: "&{'route.trip-info-delete-pattern-confirm'}",
            tripInfoClearAllTripsConfirm: "&{'route.trip-info-clear-all-trips-confirm'}",

          };

        })(GtfsEditor, jQuery);


        $(document).ready(function() {
           // page init scripts

           // add language select handler
           $(".lang-select").click(function(e){
              $.get('@{Application.setLang()}', {lang: $(e.target).data('lang')}, function() {
                location.reload();
              });
              e.preventDefault();
           });

           $(".agency-select").click(function(e){
              $.get('@{Application.setAgency()}', {agencyId: $(e.target).data('agency')}, function() {
                location.href = '@{Application.search()}';
              });
              e.preventDefault();

            });
        });




    </script>

  </body>
</html>
